<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class 2/15</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sint corrupti voluptatem, cupiditate ratione architecto nisi nesciunt obcaecati debitis omnis, exercitationem libero. Exercitationem modi consequatur beatae sed natus possimus esse. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt nostrum quisquam perferendis alias eaque distinctio repudiandae harum expedita. Sapiente assumenda asperiores aliquam a dignissimos voluptas veniam est distinctio nemo harum.</p>
</body>
</html>